@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .equipments {
        &__image-desktop {
            max-height: 300px;
        }
    }

    #player-youtube-darya {
        max-height: 350px !important;
    }
}