@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .equipments {
        &__image-desktop {
            max-height: 200px !important;
        }
    }

    #player-youtube-darya {
        max-height: 270px !important;
    }

    .orders {
        &-text {
            &:first-child {
              width: 122px;
            }
        
            &:nth-child(2) {
              width: 122px;
              margin-right: 90px;
            }
          }
    }
}